* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}
li {
  list-style: none;
}
.container {
  max-width: 100vw;
}
.head {
  width: 1170px;
  margin-top: 15px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
}
.contact-head p {
  padding: 5px;
  text-align: center;
}
.nav {
  background-color: #2a2a2a;
}
.navbar {
  display: flex;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.nav-link {
  padding: 10px;
}
.active {
  background-color: #4bb2ff;
}
.navbar li a {
  color: #fff;
  font-size: 18px;
}
.telefon {
  font-size: 26px; 
  font-weight: bold; 
  
}












@media screen and (max-width: 1200px) {
  .container {
    max-width: 999;
  }
  .navbar {
    width: 100%;
  }
  .head {
    width: 90%;
  }  
}

@media screen and (max-width: 992px) {
  .nav {
    display: none;
  }
  


}
@media screen and (max-width: 768px) {  
  .head {
    justify-content: center;
  }
  .tel-link {
    color: 
  }
}
@media screen and (max-width: 576px) {
  .head {
    max-width: 540px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 470px) {
  .head {
  }

}